@font-face {
  font-family: "AmazonEmber";
  src: url("/font/AmazonEmber_Rg.ttf") format('truetype'),
    url("/font/AmazonEmber_Rg.woff2") format("woff2"),
    url("/font/AmazonEmber_Rg.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "AmazonEmberMedium";
  src: url("/font/Amazon-Ember-Medium.ttf") format('truetype'),
    url("/font/Amazon-Ember-Medium.woff2") format("woff2"),
    url("/font/Amazon-Ember-Medium.woff") format("woff");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "AmazonEmberBold";
  src: url("/font/AmazonEmber_Bd.ttf") format('truetype'),
    url("/font/AmazonEmber_Bd.woff2") format("woff2"),
    url("/font/AmazonEmber_Bd.woff") format("woff");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "AmazonEmber", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}